.container {
  display: flex;
  justify-content: center;
}

.menu-button {
  margin-right: 10px;
  background-color: turquoise;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
  margin-left: 20px;
  margin-top: 10px;
}

.menu-button:hover {
  opacity: 1;
}